#spinner   {  
           
    animation: spin 1s linear infinite;
    color: red;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.inline{
display: flex;
}
.center{
flex:left;
}
.spinner i{
   
margin-top: 10px;
margin-left: 50px;


}