.modal img{
    border: 1px solid black; 
   width: 70%;
   height: 300px;
   display: block;
   margin: 0px auto;
   position: relative;
}
.modal-body h5{

  display: flex;
  text-align: center;
  justify-content: center;

}
.modal p{
    display: flex;
    text-align: center;
  justify-content: center;

}
.x{
    display: block;
   
}
.x1{
    color: brown;
    font-weight: bold;
}
.y1{
    color: brown;
    font-weight: bold;
}
.modal{
    position:fixed;
    top:0;
    left:30vw;
}
.body-fade{
    position:fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .82);
    /* background-color: black; */
    z-index: 150;
    /* opacity: .1; */
}
.fad{
    background: transparent;
    position:absolute;
    z-index: -5;
    /* height: 0; */
}