.modal img{
    border: 1px solid black; 
   width: 70%;
   
   display: block;
   margin: 0px auto;
}
.modal-body h5{

  display: flex;
  text-align: center;
  justify-content: center;

}
.modal p{
    display: flex;
    text-align: center;
  justify-content: center;

}
.x{
    display: block;
   
}
.x1{
    color: brown;
    font-weight: bold;
}
.y1{
    color: brown;
    font-weight: bold;
}
.modal{
    position:inherit;
    top:0;
    left:30vw;
}