
.sp-card{
  /* height: 400px; */
  width: 370px;
  background-color: #F8F9FA;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.sp-card .img{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
}
.sp-card img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}
.sp-card h3{
  font-weight: bold;

}
.sp-card .img i{
  position:relative ;
   top:-57%;
   visibility: hidden;
   transition: 0.5s;
   color:white;
   /* background-color: aliceblue; */
}
.sp-card:hover{
  border: .3px solid rgba(0,0,0,0.1);
}
.sp-card:hover h3{
  color: brown;
}
.sp-card:hover img{
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
/* -webkit-filter:  blur(1px); */
opacity: 0.5;
}
/* .sp-card img::after{
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
} */
.sp-card p{
  opacity: 0.7;
}
.sp-card:hover i{
  visibility: visible;
}
























.heading{
  text-align: center;
  padding:2.5rem 0
}
:root{
  --orange:#ffa500;
}
.heading span{
  font-size: 3.5rem;
  background:rgba(255, 242, 0, 0.374);
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}








