.center-content {
    text-align: center;
}
.btn-default {
    background-color: #e99211;
    text-transform: uppercase;
    color: #f2f2f2;
    font-family: "Lato", sans-serif;
    padding: 11px 45px;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 30px;
    -moz-background-clip: padding-box;
    border-radius: 30px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
}
.container-1{
    box-shadow: 0 0 7px rgba(0,  0, 0, 0.3);
}
.carousal-owm{
    background-color: black;
}
.carousel-item img{

    filter: blur(3px);
}
.carousel-caption h5{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 700;
    font-size: 40px;
    color:#000000;
    position: relative;
    top: -50px;
    text-shadow: 1px 1px 1px yellow;
}
.carousel-caption p{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 700;
    font-size: 20px;
    color:#000000;
    position: relative;
    top: -50px;
}
.animate_title{
    color: #232C65;
}
.center-content a h3{
    color: #e99211;
}
.center-content a h3:hover{
    color: #1127e9;
}


/* extra */
.containerForCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon-box {
   display: inline-block;
    padding: 25px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 20px rgba(110, 22, 16, 0.12);
    border-radius: 8px;
    z-index: 1;
  }

  
  .icon-box::before {
    content: '';
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }

  .icon-box:hover::before {
    background: #106eea;
    top: 0;
    border-radius: 0px;
  }

  .icon {
    margin-bottom: 15px;
  }
 
  
  .icon-box:hover{
    color: #fff;
  }

  
